
.navbar{
    padding: 0px;
    float: right;
}
html, body {
    height: 100%;
    /* display: flex; */
}

.maincontainer{
    height: 100%;
}

 header, footer{
    height: auto;
}

.leftspace{
    background-color: white;
    float: left;
}

.brandcontainer{
    background-color: teal;
    color: white;
    padding:0px;
}

.navbar-name{
    text-align: center;
    padding: 10px;
}

.maincontent{
    background-color: gray;
    min-height: 86%;
}

.maincontent-column{
    /* height: fit-content; */
    /* overflow: scroll; */
}

.whitebox{
    background-color: white;
    padding:20px;
    height: 100%;
    width: fit-content;
    overflow: scroll;
}

.whitebox p{
    text-align: justify;
}

.ending{
  text-align: center;
  padding:10px;
}

footer{
    background-color: teal;
    padding-top: 10px;
}

.about-img{
    height: 150px;
    width: 150px;
    margin: 10px;
}

.portfolio-whitebox{overflow: scroll;height: 100%;background-color: white;}

.portfolio-img{
    height: 250px;
    width: 250px;
}

.portfolio-body{
    /* height: auto; */
}
